@charset "UTF-8";

.about-content > h2{
  background: #000000;
  color: #ffffff;
  border-radius: 10px 10px 0 0;
  padding: 10px 20px 0;
  margin: 0 auto 0;
  width: 90%;
}
.about-content > .content{
  background: #fff;
  padding: 10px 20px;
  margin-bottom: 10px;
  margin: 0 auto 20px;
  width: 90%;
}
.about-content > .content > .news{
  margin: 5px 0;
  padding: 5px 0 10px;
  border-bottom: groove 2px #aaaaaa;
}
.about-content > .content > .news > .headline{
  margin-bottom: 3px;
  font-weight: bolder;
}
.about-content > .content > .news > a{
  position: static;
  border: #000000 3px solid;
  color: #000000;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 5px 50px;
  margin: 10px auto;
  text-decoration: none;
}
.about-content > .content > .news > a:hover{
  background-color: #000000;
  color: #ffffff;
  transition: background-color 0.5s;
}
